/* Marketo Reset */
.mktoForm {
  width: 100% !important; }

.mktoErrorMsg {
  background-color: initial !important;
  background-image: none !important;
  border: 0px !important;
  border-radius: 0 !important;
  box-shadow: initial !important;
  color: initial !important;
  text-shadow: initial !important; }

.mktoForm .mktoError {
  right: initial !important;
  bottom: initial !important; }

.mktoForm .mktoError .mktoErrorArrow {
  background-color: initial !important;
  border: 0 !important; }

.mktoForm .mktoRequiredField label.mktoLabel {
  font-weight: initial !important;
  max-width: 100% !important; }

.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
  padding: initial !important;
  width: 325px !important;
  height: 2.5em !important; }

.mktoForm input[type=text], .mktoForm input[type=email], .mktoForm input[type=date] {
  min-height: 2.5em !important; }

.mktoForm .mktoLabel {
  padding-top: initial !important;
  min-width: 200px !important; }

.mktoButtonWrap {
  margin-left: initial !important; }

.mktoForm .mktoFormRow {
  display: block !important;
  text-align: center; }

.mktoForm .mktoFormCol {
  margin-bottom: initial !important;
  min-height: initial !important;
  display: inline-block; }

.mktoOffset, .mktoGutter {
  display: none; }

.mktoForm .mktoAsterix {
  padding-left: 0 !important;
  float: left !important;
  margin-right: 0.25em; }

.mktoForm input[type="text"] {
  min-height: 2em; }

/* Customize Marketo form */
.mktoForm label, .mktoForm input, .mktoForm button {
  margin: 0.25em 0 !important;
  font-size: 1.4em !important;
  line-height: 1.2 !important; }

.mktoForm .mktoRadioList > label, .mktoForm .mktoCheckboxList > label {
  margin-left: 1.5em !important;
  width: 300px; }

.mktoForm button {
  background: #0050b2;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.50em 2em !important;
  border-radius: 2px;
  margin-top: 2em;
  font-size: 16px !important;
  border: none; }

.mktoForm input.mktoField {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em !important;
  padding: .4em !important;
  margin: 5px 0 !important; }

#mktoRadio_10423_1 {
  margin-left: -13px !important; }

.mktoForm {
  text-align: center !important; }

.mktoErrorMsg {
  background-color: #212121 !important;
  border-radius: 2px !important;
  color: white !important; }

.mktoForm .mktoError {
  right: 0px !important;
  top: 2.5em !important;
  /*margin: 0 0.5em;*/ }

.mktoForm .mktoError .mktoErrorArrow {
  background-color: #212121 !important; }

.mktoForm .mktoButtonRow {
  display: block !important;
  text-align: center;
  margin: 1em; }

/* Fix Marketo Landing page CSS */
#innerWrapDiv .lpeCElement, div#lpeCDiv_3855 {
  position: static !important; }

div#innerWrapDiv {
  width: auto !important; }

#bodyId .mktoContent .lpeCElement {
  position: static !important; }

@media only screen and (max-width: 480px) {
  .mktoForm .mktoFormRow .mktoField {
    clear: none; } }
* {
  margin: 0;
  padding: 0; }

a {
  color: #0050b2;
  font-weight: bold;
  text-decoration: none; }

nav a, .menu ul li a, .menu ul li a:hover {
  color: #0050b2;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0px solid #fff; }

body {
  font-family: 'Raleway';
  overflow-x: hidden; }

nav {
  padding: 0.5em;
  box-sizing: border-box;
  position: block;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

ul {
  margin-bottom: 0rem !important; }

p {
  color: #4f4f4f; }

img {
  max-width: 100%; }

h2 {
  text-align: center;
  margin: 10px 0px; }

a h2:hover {
  color: #3975BF;
  transition: .3s; }

a:hover {
  text-decoration: none; }

.btn:hover {
  color: #fff !important; }

/* HEADER NAVIGATION */
.logo {
  float: left;
  width: 40%;
  line-height: 38px;
  margin-top: -3px; }

.logo img {
  width: 195px;
  vertical-align: middle;
  padding: 0px 0px 0px 15px; }

.menu {
  width: 60%;
  float: right;
  text-align: right;
  line-height: 35px; }

.menu li {
  display: inline;
  margin: 0px 15px 0px 15px; }

/* HOMEPAGE HERO */
.hero {
  background-image: url("images/img/shoeangel-bg.jpg");
  width: 100%;
  height: auto; }

.bg {
  height: 320px;
  width: 100%;
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.hero-title {
  height: 320px;
  text-align: center;
  padding: 20px 0;
  color: #272727;
  font-size: 1.4em; }

.hero-title h1 {
  margin-top: 25px;
  font-weight: 400; }

.hero-title h1 img {
  width: 500px; }

.subtitle {
  font-size: 2.5vw; /* Switched to VW for responsive type*/
  font-family: 'Lato'; }

/* BUTTONS */
.btn {
  background: #0050b2;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  padding: 0.5em 2em;
  border-radius: 2px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  letter-spacing: .05em; }

.btn:hover {
  background: #3975BF;
  transition: .3s; }

/* CONTAINER */
.container {
  width: 50%;
  margin: 3em auto 0; }

.container p {
  line-height: 1.5em;
  padding: 0px 0 20px 0; }

/* BOOTSTRAP */
.buckets .col-lg {
  background: #fff;
  margin: 15px 15px;
  max-height: 150px;
  padding: 25px 0 !important;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.brandy .col-lg {
  background: #fff;
  margin: 15px 15px;
  min-height: 150px;
  padding: 25px 0 !important;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.boxbox {
  width: 100%;
  background: #f4f4f4; }

.row {
  width: 95%;
  margin: auto; }

.buckets {
  padding-top: 15px; }

.brandy .col-lg img {
  width: 250px; }

.col-lg p {
  padding: 10px 20px 0 20px; }

.main-box {
  padding: 15px 15px; }

.full-box {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.col-lg {
  padding: 0 !important;
  text-align: center; }

/* FLEXBOX HELL */
/* FOOTER */
footer {
  margin: 0 auto;
  width: 100%;
  padding: 1.25em 0 0 0;
  background: #232323;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: .9em; }

footer .row {
  width: 75%;
  margin-bottom: 40px; }

.footer .col-lg, .footer h2 {
  text-align: left; }

.footer-menu {
  list-style-type: none; }

.footer-menu li {
  font-weight: lighter;
  padding: 3px 0; }

.footer-menu li a {
  color: #fff;
  font-weight: lighter; }
.footer-promo{
    margin:1em 0;
}
.copyright {
  text-align: center;
  color: #fff !important;
  background: #282828;
  margin-bottom: 0;
  padding: 10px 0; }

.social-menu {
  list-style-type: none; }

.social-menu li {
  display: inline;
  text-decoration: none;
  padding: 0 15px 0 0;
  border-bottom: none; }

.social-menu li a {
  color: #fff;
  border-bottom: none;
  text-decoration: none; }

.footer-menu li a:hover, .social-menu li a:hover {
  color: #3975BF;
  transition: .2s; }

/* FORM CSS */
#mktoRadio_10466_1 {
  margin-left: -13px !important; }

.mktoButton:hover {
  background: #3975BF;
  transition: .2s; }

.successmsg {
  display: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em; }

input {
  height: 30px;
  margin: 10px 0px; }

.contact {
  text-align: center;
  height: auto; }

.contact p {
  text-align: left;
  line-height: 1.5em;
  margin: 0px 0px 20px 0px; }

.contact-form {
  text-align: left;
  margin: auto; }

/* FAQ PAGE */
.faq {
  text-align: center;
  height: auto; }

.faq p {
  font-weight: bold;
  text-align: left;
  line-height: 1.5em;
  margin: auto;
  padding-bottom: 20px; }

.answer {
  font-weight: normal; }

/* BANNER IMAGES */
.landing-hero {
  background-image: url("images/img/donations-hero.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top; }

.about-landing-hero {
  background-image: url("images/img/about-hero.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-y: -120px; }

.donations-landing-hero {
  background-image: url("images/img/donations.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center; }

  .goodnews-landing-hero {
    background-image: url("images/img/newsHeader.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center; }

.partners-landing-hero {
  background-image: url("images/img/partners.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center; }

.contact-landing-hero {
  background-image: url("images/img/contact.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center; }

.faq-landing-hero {
  background-image: url("images/img/faq.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-y: -170px; }

.landing-title {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212121;
  font-size: 1.4em;
  width: 100%; }

.landing-title h1 {
  padding: 0.75em 1em;
  border-radius: 2px;
  text-shadow: 0px 2px 2px #303030;
  font-weight: bold;
  color: #fff; }

/* DONATIONS PAGE */
.donation-container {
  width: 32%;
  text-align: center;
  display: inline-block; }

.donation-container p {
  text-align: center; }

.counter {
  font-size: 5.5em;
  font-weight: bold;
  padding: 15px 0;
  color: #0050b2; }

.prefix::before {
  content: "$"; }

.cont-fix {
  width: 80% !important;
  margin: 2em auto 0; }

/* Nurses Week Contest Promotion */
.hero-promo {
  background-image: url("images/img/nurses_week_contest_bkgd.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-promo .hero-title{
    position: relative;
    height:100%;
}
.hero-promo .hero-title::before{
    content:" ";
    z-index:1;
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,.33) 0%, rgba(0,0,0,0.30) 1%, rgba(0,0,0,0.25) 10%, rgba(0,0,0,0) 25%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,.33) 0%,rgba(0,0,0,0.30) 1%,rgba(0,0,0,0.25) 10%,rgba(0,0,0,0) 25%); 
    background: linear-gradient(to bottom, rgba(0,0,0,.33) 0%,rgba(0,0,0,0.30) 1%,rgba(0,0,0,0.25) 10%,rgba(0,0,0,0) 25%); 
}
.hero-promo .hero-title::after{
    content:" ";
    z-index: 1;
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,.50) 0%, rgba(0,0,0,0.75) 1%, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0) 85%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.50) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0) 85%); 
    background: linear-gradient(to top, rgba(0,0,0,.50) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0) 85%);
    
}
.hero-promo .hero-title h1{
    position: absolute;
    top:0em;
    z-index:3;
    width:100%;
    color:#f4aa00;
    text-transform: uppercase;
    text-shadow: 4px 4px #000000;
    font-weight: 900;
    margin-top:10px;
}
.hero-promo .hero-title h1 span{
    color:#FFFFFF;
}
.hero-promo .hero-title h4{
    position: absolute;
    z-index: 3;
    bottom:1em;
    width:100%;
    color:#f4aa00;
    font-weight:bold;
}
.hero-promo .hero-title h4 span{
    color:#FFFFFF;
    text-transform: uppercase;
}
#contest{
    background-color:#f4aa00;
}
#contest > div{
    margin:0 auto;
    padding:3em;
}
#contest p{
    text-align: center;
    color:#FFFFFF;
    font-weight:bold;
    text-transform:uppercase;
    font-size:1.35em
}
h2.promotion {
    color: #005abb;
    font-weight: bold;
    font-size:2.5em;
    text-shadow:
        -4px -2px 0 #FFFFFF,  
       4px -2px 0 #FFFFFF,
        -4px 2px 0 #FFFFFF,
        4px 2px 0 #FFFFFF,
        -2px -4px 0 #FFFFFF,  
       2px -4px 0 #FFFFFF,
        -2px 4px 0 #FFFFFF,
        2px 4px 0 #FFFFFF,
        -3px -3px 0 #FFFFFF,  
        3px -3px 0 #FFFFFF,
        -3px 3px 0 #FFFFFF,
        3px 3px 0 #FFFFFF;
}
p#terms{
    text-decoration:underline;
    cursor: pointer;
    font-size:1em;
    font-weight: normal;
    text-transform: none;
}
div#terms-conditions{
    display:none;
    height:10em;
    overflow-y: scroll;
    border:2px solid #1a1a1a;
    padding:1em;
}
div#terms-conditions > div p, div#terms-conditions > div li{
    text-align: left;
    color:#1a1a1a;
    font-size:0.75em;
    text-transform: none;
    margin:0 1em;
    padding:0;
    font-weight: normal;
}

/* MOBILE MENU & HAMBURGER */
.mobile-menu {
  position: absolute;
  top: 50px;
  background: #0050b2;
  width: 100%;
  z-index: 999; }

.mobile-menu ul {
  list-style-type: none; }

.mobile-menu li {
  text-shadow: none;
  color: #FFF;
  font-weight: normal;
  padding: 1em;
  border-bottom: solid 1px #fff;
  text-align: center; }

.mobile-menu li a {
  color: #FFF;
  font-weight: normal; }

.mobile-menu .navigation li:hover {
  background: #3975BF; }

.hamburger-menu {
  position: absolute;
  right: 22px;
  bottom: 7px;
  margin: auto;
  width: 40px;
  height: 40px;
  cursor: pointer; }

.bar, .bar:after, .bar:before {
  width: 35px;
  height: 3px; }

.bar {
  position: relative;
  transform: translateY(25px);
  background: #0050b2;
  transition: all 0ms 150ms; }

.bar.animate {
  background: rgba(255, 255, 255, 0); }

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #0050b2;
  transition: bottom 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #0050b2;
  transition: top 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1); }

/* MEDIA QUERY*/
@media only screen and (max-width: 960px) {
  .container {
    width: 95%; }

  .full-box .btn {
    margin-bottom: 20px; }

  .landing-hero, .landing-title, .about-landing-hero, .donations-landing-hero, .contact-landing-hero, .faq-landing-hero {
    height: 200px; }

  .about-landing-hero {
    background-position-y: -100px; }

  .faq-landing-hero {
    background-position: center; }

  .menu {
    display: none; }

  nav {
    margin-bottom: 0; }

  .hamburger-menu {
    bottom: auto;
    top: -2px; }

  .logo {
    width: 125px; }

  .donation-container, .donation-container p {
    width: 100%;
    text-align: left; } }
@media only screen and (min-width: 961px) {
  nav {
    position: relative; }

  .hamburger-menu {
    display: none; }

  .mobile-menu {
    display: none; } }
@media only screen and (max-width: 480px) {
  .hero-title {
    padding: 1px 0;
    height: 200px; }

  .hero-title img {
    width: 50%;
    height: auto;
  }

  .bg {
    height: 200px; }

  .about-landing-hero {
    background-position: top; } 

/* Sweepstakes / Promotion */
    h2.promotion{
        font-size:1.5em;
    }
    #contest p{
        font-size:0.75em;
    }
    .hero-promo .hero-title h1{
        font-size:0.75em;
    }
    .hero-promo .hero-title h4{
        font-size:0.5em;
    }
    #contest > div {
        padding:1em;
    }
}
